.deal {
    margin-top: 5%;
    font-size: .8rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.deal div:nth-child(4) {
    border-bottom: 1px solid #333333;
}

.deal input, select {
    width: 93vw;
    height: 4vh;
    margin-top: 2%;
    margin-bottom: 5%;
    text-indent: .5rem;
    border-radius: .3rem;
    border: .1rem solid #979797;
}

.deal select {
    cursor: pointer;
}

.deal button {
    width: 93vw;
    height: 4vh;
    text-indent: .5rem;
    border-radius: .3rem;
    margin-bottom: 8%;
    cursor: pointer;
    color: #FFFFFF;
    background: #333333;
}

.deal-type {
    background: #FFFFFF;
}

