@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', normal;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.content {
    margin: 0px auto;
    width: 411px;
    height: 731px;
}