@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', normal;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

footer div  {
    width: 100vw;
    height: 1vh;
    bottom: 0;
    background-color: #333333;
    position: absolute;
}

