@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', normal;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}

footer div  {
    width: 100vw;
    height: 1vh;
    bottom: 0;
    background-color: #333333;
    position: fixed;
}

@media only screen and (max-width: 480px) {
    
    nav {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #E0E0E0;
    }

    .logo {
        margin-left: 2vh;
        width: 6vw;
        height: 5vh;
        cursor: pointer;
    }

    .title {
        font-size: 1.1rem;
        color: #333333;
    }

    .navbar div {
        width: 1rem;
        height: .1rem;
        background: #333333;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .navbar {
        margin-right: 2vh;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        right: 0;
        width: 80vw;
        height: 100vh;
        background: #333333;
        display: none;
        flex-direction: column;

    }

    .nav-menu svg {
        margin-left: 2vh;
        margin-top: 4vw;
    }

    .nav-menu li {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    .nav-menu ul {
        margin-right: 5vw;
        margin-top: 3vh;
    }

    .nav-menu a {
        font-weight: 600;
        text-decoration: none;
        font-size: 1rem;
        color: #ffffff;
        margin-top: 3vh;
    }

    .new-trade {
        display: none;
    }

    .deal-content {
        margin-top: 5%;
        font-size: .8rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .deal input, select {
        width: 93vw;
        height: 4vh;
        margin-top: 2%;
        margin-bottom: 5%;
        text-indent: .5rem;
        border-radius: .3rem;
        border: .1rem solid #979797;
    }

    .deal select {
        cursor: pointer;
    }

    .deal-content button {
        width: 93vw;
        height: 4vh;
        text-indent: .5rem;
        border-radius: .3rem;
        margin-bottom: 8%;
        cursor: pointer;
        color: #FFFFFF;
        background: #333333; 
    }

    #deal-line {
        width: 93vw;
        height: .1rem;
        border-bottom: .1rem solid #333333;
    }

    .deal-type {
        background: #FFFFFF;
    }

    .statement {
        width: 100vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .statement-label div {
        width: 93vw;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;
        padding: 1%;
        align-items: center;
    }

    .statement h1 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 3%;
    }

    .statement h2 {
        padding-left: 9%;
        padding-right: 8%;
        font-size: .8rem;
    }

    .statement-line {
        margin-left: 3.5vw;
        margin-right: 3.5vw;
        border-bottom: 1px solid black;
    }

    .statement p {
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .statement-total {
        margin-top: 1.1px;
        width: 93vw;
        margin-left: 3.5vw;
        margin-right: 7vw;
        border-top: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        align-items: center;

    }

    .statement-total h3 {
        margin-left: 8vw;
        margin-right: 4vw;
        font-size: .8rem;
    }

    #profit {
        margin-left: 18vw;
        font-size: .6rem;
    }

    #change {
        padding-bottom: 4%;
    }
}   
 
@media only screen and (min-width: 481px) and (max-width: 768px) {

    nav {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #E0E0E0;
    }

    .logo {
        margin-left: 2vh;
        width: 6vw;
        height: 5vh;
        cursor: pointer;
    }

    .title {
        font-size: 1.1rem;
        color: #333333;
    }

    .navbar div {
        width: 1rem;
        height: .1rem;
        background: #333333;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .navbar {
        margin-right: 2vh;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        right: 0;
        width: 33vw;
        height: 100vh;
        background: #333333;
        display: none;
        flex-direction: column;

    }

    .nav-menu svg {
        margin-left: 2vh;
        margin-top: 4vw;
    }

    .nav-menu li {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    .nav-menu ul {
        margin-right: 5vw;
        margin-top: 3vh;
    }

    .nav-menu a {
        font-weight: 600;
        text-decoration: none;
        font-size: 1rem;
        color: #ffffff;
        margin-top: 3vh;
    }

    .deal-content {
        width: 95vw;
        margin: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid #979797;
        border-radius: 1%;
    }
    
    .deal {
        margin-left: 2vw;
        margin-top: 2vh;
        margin-left: 2vw;
        font-size: .8rem;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .new-trade {
        margin-top: 2vh;
        font-size: 1.1rem;
        text-align: center;
    }

    .deal input, select {
        width: 20vw;
        height: 4vh;
        margin-top: 2%;
        text-indent: .5rem;
        border-radius: .3rem;
        border: .1rem solid #979797;
    }

    #major {
        width: 45vw;
    }

    .deal select {
        cursor: pointer;
    }

    .deal-content button {
        align-self: flex-end;
        width: 30vw;
        height: 4vh;
        margin-top: 2vh;
        margin-right: 3vh;
        margin-bottom: 2vh;
        text-indent: .5rem;
        border-radius: .3rem;
        cursor: pointer;
        color: #FFFFFF;
        background: #333333;
    }

    .deal-type {
        background: #FFFFFF;
    }

    .statement {
        width: 100vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .statement-label div {
        width: 93vw;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;
        padding: 1%;
        align-items: center;
    }

    .statement h1 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 3%;
    }

    .statement h2 {
        padding-left: 9%;
        padding-right: 8%;
        font-size: .8rem;
    }

    .statement-line {
        margin-left: 3.5vw;
        margin-right: 3.5vw;
        border-bottom: 1px solid black;
    }

    .statement p {
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .statement-total {
        margin-top: 1.1px;
        width: 93vw;
        margin-left: 3.5vw;
        margin-right: 7vw;
        border-top: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        align-items: center;

    }

    .statement-total h3 {
        margin-left: 8vw;
        margin-right: 4vw;
        font-size: .8rem;
    }

    #profit {
        margin-left: 14vw;
        font-size: .6rem;
    }
}  

@media only screen and (min-width: 769px) and (max-width: 1100px) {

    header {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background: #E0E0E0;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }  
    
    nav {
        width: 20vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 18%;
    }

    .title {
        font-size: 1.2rem;
    }

    .nav-menu ul {
        width: 30vw;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        background-color: #ffffff;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .nav-menu ul div {
        width: 0.1px;
        height: 3vh;
        border-left: 1px solid #979797;
    }

    .nav-menu a {
        text-decoration: none;
        font-size: 1rem;
        color: #333333;
    }

    .nav-menu svg {
        display: none;
    }

    .navbar {
        display: none;
    }

    .container {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        margin: 2%;
    }

    .deal-content {
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #979797;
        border-radius: 1%;
    }
    
    .deal {
        margin-top: 2vh;
        font-size: .9rem;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .new-trade {
        margin-top: 4vh;
        font-size: 1.1rem;
        text-align: center;
    }

    .deal-type {
        background: #FFFFFF;
    }

    .deal input, select {
        width: 35vw;
        height: 4vh;
        margin-top: 1vh;
        text-indent: .5rem;
        border-radius: .3rem;
        border: .1rem solid #979797;
    }

    .deal select, #major {
        margin-bottom: 3vh;
    }

    .deal-content button {
        width: 35vw;
        height: 4vh;
        margin: 5%;
        text-indent: .5rem;
        border-radius: .3rem;
        cursor: pointer;
        color: #FFFFFF;
        background: #333333;
        align-self: center;
    }

    .statement-label div {
        width: 52vw;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;
        padding: .5%;
        align-items: center;
    }

    .statement h1 {
        text-align: center;
        font-size: 1.1rem;
        margin-top: 4vh;
        margin-bottom: 3%;
    }

    .statement h2 {
        padding-left: 9%;
        padding-right: 8%;
        font-size: .8rem;
    }

    .statement-line {
        margin-left: 3.5vw;
        margin-right: 3.5vw;
        border-bottom: 1px solid black;
    }

    .statement p {
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .statement-total {
        margin-top: 1.1px;
        width: 52vw;
        margin-left: 3.5vw;
        margin-right: 7vw;
        border-top: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding-top: 2vh;
        align-items: center;
    }

    .statement-total h3 {
        margin-left: 6vh;
        font-size: .8rem;
    }

    #total-value {
        display: flex;
        justify-content: flex-end;
        margin-right: 3vh;
    }

    #profit {
        margin-left: 7vw;
        font-size: .6rem;
    }

    #change {
        padding-bottom: 2%;
    }
}   
 
@media only screen and (min-width: 1101px) {

    header {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background: #E0E0E0;
        padding-left: 13vw;
        padding-right: 13vw;
    }  
    
    nav {
        width: 20vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 18%;
    }

    .title {
        font-size: 1.2rem;
    }

    .nav-menu ul {
        width: 30vw;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        background-color: #ffffff;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .nav-menu ul div {
        width: 0.1px;
        height: 3vh;
        border-left: 1px solid #979797;
    }

    .nav-menu a {
        text-decoration: none;
        font-size: 1rem;
        color: #333333;
    }

    .nav-menu svg {
        display: none;
    }

    .navbar {
        display: none;
    }

    .container {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        margin-top: 4vh;
        padding-left: 13vw;
        padding-right: 13vw;
    }

    .deal-content {
        width: 37vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #979797;
        border-radius: 1%;
    }
    
    .deal {
        margin-top: 2vh;
        font-size: .9rem;
        width: 37vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .new-trade {
        margin-top: 4vh;
        font-size: 1.1rem;
        text-align: center;
    }

    .deal-type {
        background: #FFFFFF;
    }

    .deal input, select {
        width: 25vw;
        height: 4vh;
        margin-top: 1vh;
        text-indent: .5rem;
        border-radius: .3rem;
        border: .1rem solid #979797;
    }

    .deal select, #major {
        margin-bottom: 3vh;
    }

    .deal-content button {
        width: 25vw;
        height: 4vh;
        margin: 5%;
        text-indent: .5rem;
        border-radius: .3rem;
        cursor: pointer;
        color: #FFFFFF;
        background: #333333;
        align-self: center;
    }

    .statement-label div {
        width: 37vw;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;
        padding: .5%;
        align-items: center;
    }

    .statement h1 {
        text-align: center;
        font-size: 1.1rem;
        margin-top: 4vh;
        margin-bottom: 3%;
    }

    .statement h2 {
        padding-left: 9%;
        padding-right: 8%;
        font-size: .8rem;
    }

    .statement-line {
        margin-left: 3.5vw;
        margin-right: 3.5vw;
        border-bottom: 1px solid black;
    }

    .statement p {
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .statement-total {
        margin-top: 1.1px;
        width: 37vw;
        margin-left: 3.5vw;
        margin-right: 7vw;
        border-top: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding-top: 2vh;
        align-items: center;
    }

    .statement-total h3 {
        margin-left: 6vh;
        font-size: .8rem;
    }

    #total-value {
        display: flex;
        justify-content: flex-end;
        margin-right: 1.5vh;
    }

    #profit {
        margin-left: 5.5vw;
        font-size: .6rem;
    }

    #change {
        padding-bottom: 2%;
    }
} 
